* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  font-size: 16px;
}

body {
  background-color: #191765;
  font-family: roboto, sans-serif;
  color: white;
}

.about-me-link-icons a {
  color: white;
}

.about-me {
  padding-top: 50px;
  position: relative;
}

.about-me .about-me-footer {
  position: absolute;
  bottom: 2%;
  left: 50%;
}

.about-me .about-me-footer .about-me-link-icons {
  position: relative;
  left: -50%;
}

.about-me .right-arrows, .about-me .left-arrows {
  position: absolute;
  bottom: 0;
  color: #b3bac5;
  margin-bottom: 0;
  font-size: 0.6rem;
}

.about-me .right-arrows {
  right: 0;
}

.about-me .left-arrows {
  left: 0;
}

h1,
ul {
  color: #9390ff;
}

ul li {
  color: #b3bac5;
}

.columns {
  margin: 0;
}

.navbar-image {
  max-width: 3rem;
  border-radius: 50%;
  -o-object-fit: fill;
     object-fit: fill;
  height: 3rem;
}

.about-me-card h1 {
  font-weight: bold;
}

hr {
  background-color: #b3bac5;
  margin: 0;
  height: 1px;
}

.about-me-specs {
  color: #b3bac5;
}

.about-me-specs .list {
  margin-bottom: 0;
}

.my-projects-divider, .about-me-specs {
  width: 90%;
}

.my-projects {
  width: 100%;
}

.my-projects-title {
  padding-left: 1rem;
}

.my-projects-grid {
  margin-bottom: 3rem;
}

.project-image {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.description-title h3 {
  font-weight: bold;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-preferred-size: unset;
      flex-basis: unset;
}

.description-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: #b3bac5;
  font-family: inter, sans-serif;
  margin-bottom: auto;
}

.description-text p {
  overflow: hidden;
  text-overflow: ellipsis;
}

.description-footer {
  -ms-flex-item-align: end;
      align-self: flex-end;
}

.grid-item-description {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.grid-item-description ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.grid-item-description ul li {
  color: white;
  margin-right: 0.5em;
  display: inline;
}

.grid-item-description ul li:not(:last-child)::after {
  content: "|";
  margin-left: 0.5em;
}

.grid-item-buttons {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(0px, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(0px, 1fr));
  -webkit-column-gap: 1rem;
          column-gap: 1rem;
}

/*
.dot {
  height: 10rem;
  width: 10rem;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  position: absolute;
  left: 4rem;
  top: 10rem;
  background: #EDECFF;
  filter: blur(50px);
}
*/
@media screen and (max-width: 320px) {
  html {
    font-size: 14px;
  }
}

@media screen and (min-width: 411px) {
  html {
    font-size: 18px;
  }
  .about-me {
    padding-top: 100px;
  }
}

@media screen and (min-width: 1024px) {
  html {
    font-size: 22px;
  }
  .about-me-specs, .my-projects-divider {
    width: 100%;
  }
  .my-projects-grid {
    margin-bottom: 10rem;
  }
  .description-container {
    background-color: rgba(13, 97, 122, 0.5);
    border-radius: 5%;
    opacity: 0.2;
  }
  .my-projects-grid:nth-child(2n+2) .image-container {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }
  .my-projects-grid:hover :nth-child(1n+1) {
    opacity: 1;
  }
}

@media screen and (min-width: 2560px) {
  html {
    font-size: 34px;
  }
  .about-me {
    padding-top: 150px;
  }
}
/*# sourceMappingURL=main.css.map */